<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{client/fragments/head :: heads(pageTitle='Project Index')}"></head>
<body>

<div th:replace="~{client/fragments/header :: header}"></div>

<!-- Hero Slider Start -->
<div th:insert="~{client/fragments/slider_index :: slider}"></div>
<!-- Hero Slider End -->

<!-- Foods Start-->
<div class="container-fluid vesitable py-5">
    <div class="container">
        <div class="owl-carousel vegetable-carousel justify-content-center">
            <!-- Loop through the list of foods -->
            <div th:each="food : ${foods}" class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img th:src="@{'/' + ${food.getImage()} }" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                     style="top: 10px; right: 10px;">
                    <span th:text="${food.getRestaurant().getRestaurantName()}">Category</span>
                </div>
                <div class="p-4 rounded-bottom bg-white">
                    <h4 th:text="${food.getFoodName}">Giò heo phỉ thuý</h4>
                    <p th:text="${food.getDescription}">Cắt phỉ thuý ra làm giò heo. @@.</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p th:text="${food.getPrice + ' đồng'}" class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                        <a th:href="@{'/food/' + ${food.getSlug()}}" class="btn btn-outline-primary">
                            <i class="fas fa-location-arrow me-2"></i> Xem chi tiết
                        </a>
                    </div>
                </div>
            </div>
            <!-- End of food loop -->
        </div>
    </div>
</div>
<!-- Foods End -->

<!-- List Restaurant Start -->
<div class="container-fluid vesitable">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 700px;">
            <h1 class="display-4">Restaurant List</h1>
        </div>
        <div class="row g-4">
            <!-- Thymeleaf iteration to display restaurants -->
            <div th:each="restaurant : ${restaurants}" class="col-lg-6 col-xl-4">
                <div class="p-4 border border-primary rounded vesitable-item bg-light">
                    <div class="row align-items-center">
                        <div class="col-6" th:id="${restaurant.getPlaceId()}" th:attr="data-latitude=${restaurant.getLatitude()}, data-longitude=${restaurant.getLongitude()}">
                        </div>
                        <div class="col-6">
                            <a th:href="@{'/restaurant/' + ${restaurant.getSlug()}}" class="h5" th:text="${restaurant.getRestaurantName()}">Nhà hàng 1</a>
                            <!-- Thymeleaf expression to display restaurant description -->
                            <p th:text="${restaurant.getDescription()}">Giới thiệu ngắn</p>
                            <a th:href="@{'/restaurant/' + ${restaurant.getSlug()}}" class="btn btn-outline-primary"><i class="fas fa-location-arrow me-2"></i> Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Thymeleaf iteration -->
        </div>
    </div>
</div>
<!-- List Restaurant End -->


<!-- Footer Start -->
<div th:replace="~{client/fragments/footer::footer}"></div>
<div th:replace="~{client/fragments/js::js-insert}"></div>
<script>
    window.addEventListener("DOMContentLoaded", async function () {
        const restaurantElements = document.querySelectorAll(".col-6[id]");
        restaurantElements.forEach(element => {
            generateMapDirectionEmbed(element.id, element.dataset.latitude, element.dataset.longitude);
        });
    });
</script>
<!-- prettier-ignore -->
</body>
</html>