<!DOCTYPE html>
<html
        lang="en" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/admin_file/assets/"
        data-template="vertical-menu-template-free"
>
<head th:replace="~{admin/fragments/head :: heads(pageTitle='List Foods')}">
    <title></title>
</head>


<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <aside th:replace="~{admin/fragments/menu :: drawer-menu(value_menu = 'foods,foods_list')}"></aside>
        <!-- / Menu -->
        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            <nav th:replace="~{admin/fragments/nav :: nav-bar(value_title = 'Foods List')}"></nav>
            <!-- / Navbar -->
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Foods /</span> List</h4>

                    <!-- Basic Bootstrap Table -->
                    <div class="card">
                        <h5 class="card-header">Food List</h5>
                        <th:block th:if="${success_upload}">
                            <div th:replace="~{client/fragments/elements/alert::success(message= ${success_upload} )}"></div>
                        </th:block>
                        <th:block th:if="${success_delete}">
                            <div th:replace="~{client/fragments/elements/alert::success(message= ${success_delete} )}"></div>
                        </th:block>
                        <!-- Show table -->
                        <div class="table-responsive text-nowrap" th:if="${!foods.isEmpty()}">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Slug</th>
                                    <th>Description</th>
                                    <th>Restaurant</th>
                                    <th>Price</th>
                                    <th>Time Wait</th>
                                    <th>Avatar</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                <tr th:each="food : ${foods}">
                                    <td th:text="${food.foodName}" />
                                    <td th:text="${food.slug}" />
                                    <td th:text="${food.description}" />
                                    <td th:text="${food.getRestaurant().restaurantName}" />
                                    <td th:text="${food.price}" />
                                    <td th:text="${food.timeWait}" />
                                    <td>
                                        <img th:src="@{'~/' + ${food.image}}"
                                             th:alt="${food.foodName}"
                                             class="img-fluid"
                                             style="width: auto; height: 50px;"
                                        />
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-primary"
                                           th:href="@{/admin/food/update/{id}(id=${food.id})}"
                                        >
                                            <i class="bx bx-edit-alt me-1"></i> Edit
                                        </a>

                                        <a th:href="@{/admin/food/delete/{id}(id=${food.id})}"
                                           class="btn btn-sm btn-danger"
                                           onclick="return confirm('Bạn thật sự muốn xóa nó?')"
                                           style="color: #FFFFFF"
                                        >
                                            <i class="bx bx-trash me-1"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Empty list -->
                        <div class="card-body" th:if="${foods.isEmpty()}">
                            <p class="card-text">There is not nothing to show!</p>
                        </div>
                    </div>
                    <!--/ Basic Bootstrap Table -->
                </div>
                <!-- / Content -->
                <!-- Footer -->
                <footer th:replace="~{admin/fragments/footer :: footer}"></footer>
                <!-- / Footer -->
                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
<div th:replace="~{admin/fragments/js :: js-insert}"></div>
</body>
</html>
