<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../../admin_file/assets/"
      data-template="vertical-menu-template-free"
>
<head th:replace="~{admin/fragments/head :: heads(pageTitle='Create Restaurants')}">
    <title></title>
</head>
<style>
    .fieldError {
        border-color: #bd2130;
    }

    .errorMessage {
        color: red !important;
        font-size: 12px;
    }

    .item {
        margin-left: 10px;
        margin-right: 10px;
      }
</style>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <aside id="layout-menu"
               th:replace="~{admin/fragments/menu :: drawer-menu(value_menu = 'restaurants,restaurants_create')}"></aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            <nav th:replace="~{admin/fragments/nav :: nav-bar(value_title = 'Restaurant / Create')}"></nav>
            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="text"
                       id="search-input"
                       placeholder="Find food, restaurants..." name="foodName">
                <div class="h-px-700" id="map">

                </div>
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Restaurant/</span> Create New</h4>
                    <!-- Basic Layout -->
                    <div class="row">
                        <div class="col-xl">
                            <div class="card mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h5 class="mb-0">Create Restaurant</h5>
                                    <small class="text-muted float-end">Default label</small>
                                </div>
                                <div class="card-body">
                                    <form th:action="@{/admin/restaurant/create}" method="POST" th:object="${restaurantForm}" enctype="multipart/form-data">
                                        <input id="formPlaceId" type="hidden" th:field="${restaurantForm.placeId}" />
                                        <input type="hidden" th:field="*{id}" />
                                        <div class="mb-3">
                                            <label class="form-label" for="formName">Restaurant Name*</label>
                                            <input type="text" class="form-control" id="formName" th:field="*{restaurantName}" placeholder="Input name"
                                                   th:class="${#fields.hasErrors('restaurantName')} ? 'form-control fieldError' : 'form-control'" />
                                            <p th:if="${duplicateRestaurantNameError}" class="error">
                                                Tên nhà hàng đã tồn tại
                                            </p>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formRating">Rating</label>
                                            <input type="text" class="form-control" id="formRating" th:field="*{totalRating}" placeholder="Input rating" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formAddress">Address*</label>
                                            <input type="text" class="form-control" id="formAddress" th:field="*{address}" placeholder="Input address"
                                                   th:class="${#fields.hasErrors('address')} ? 'form-control fieldError' : 'form-control'" />
                                            <p th:if="${#fields.hasErrors('address')}" class="error" th:errors="*{address}">This field is required</p>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formDescription">Description</label>
                                            <textarea id="formDescription" class="form-control" name="description" placeholder="Describe about this restaurant"
                                                      th:field="*{description}"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formContactNum">Contact</label>
                                            <input class="form-control" type="text" id="formContactNum" th:field="*{phone}" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formParkingInfo">Acceptable vehicles</label>
                                            <input class="form-control" type="text" id="formParkingInfo" th:field="*{parkingInfo}" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formLatitude">Latitude*</label>
                                            <input class="form-control" type="text" id="formLatitude" th:field="*{latitude}" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formLongitude">Longitude*</label>
                                            <input class="form-control" type="text" id="formLongitude" th:field="*{longitude}" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formOpenTime">Open Time*</label>
                                            <input class="form-control" type="time" id="formOpenTime" th:field="*{openTime}" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formCloseTime">Close Time*</label>
                                            <input class="form-control" type="time" id="formCloseTime" th:field="*{closeTime}" />
                                        </div>
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Content -->

<!--                &lt;!&ndash; Footer &ndash;&gt;-->
<!--                <footer th:replace="~{admin/fragments/footer :: footer}"></footer>-->
<!--                &lt;!&ndash; / Footer &ndash;&gt;-->

<!--                <div class="content-backdrop fade"></div>-->
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<div th:replace="~{admin/fragments/layout :: script}"></div>
</body>
</html>
